.new-event-drop {
  height: 80px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
  background-color: #392f5a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-event-drop:hover {
  background-color: #4f1df3;
  color: #fff8f0;
  transition: .2s ease;
}

.new-event-drop h2 {
    font-size: 20px;
    margin: 0;
}

.acord {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.admin-acord {
    width: 100%;
    height: 100px;
    margin: 0;
    display: flex;
    border: none;
    align-items: center;
}

.admin-acord:focus {
    outline: none;
}

.admin-acord:focus-visible {
    outline: none;
}