.user-res {
    margin: 0 auto;
    display: flex;
    padding: 10px;
    height: 100px;
    align-items: center;
}

.user-res-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 576px) {
    .user-res-left {
        width: 20%;
    }
}

.user-res-left p {
    margin: 0;
    font-size: 17px;
}

@media screen and (max-width: 576px) {
    .user-res-left p {
        font-size: 15px;
    }
}

.user-res-right {
    width: 75%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    border-radius: 5px;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 576px) {
    .user-res-right {
        width: 80%;
    }
}

.user-res-container {
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 25px;
}

@media screen and (max-width: 900px) {
    .user-res-container {
        width: 500px;
    }
}

@media screen and (max-width: 576px) {
    .user-res-container {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .user-res-container {
        width: 300px;
    }
}

.user-res-container h2 {
    font-size: 25px;
}

@media screen and (max-width: 576px) {
   .user-res-container h2 {
        font-size: 22px;
    } 
}

.user-reservations h1 {
    text-align: center;
}

.thirty-three-percent {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.thirty-three-percent p {
    margin: 0;
}

.res-edit svg {
    font-size: 20px;
    transition: .3s ease;
}