.reservations-grid {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* background-color: rgb(236,236,236); */
    border-radius: 5px;
    padding: 30px;
}

.margin-top {
    margin-top: 125px;
    width: 100%;
}

.margin-top h2 {
    margin-bottom: 20px;
    font-family: 'Orelega One', cursive;
    font-size: 40px;
    text-align: center;
}